// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

body {
    display: flex;
    justify-content: center;
    background-color: rgb(221, 225, 247);
}

#wrapper {
    width: 800px;
}

#app {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 30px;
    margin-left: 30px;
}
table {
    border: 1px solid $dark-blue;
    padding: $padding;
    background-color: rgb(246, 245, 220);
}

td {
    border: 1px solid $dark-blue;
    padding: $padding;
}

#inStockMessage {
    color: red;
}

button {
    background-color: $blue;
    color: $text-color;
    height: $button-height;
    width: $button-width;
    border-radius: $border-radius;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#add-transaction-form  {
    border: 3px solid $dark-blue;
    border-radius: $border-radius;
    padding: 2rem;
}

#navigation {
    padding: 2rem;
    background-color: $dark-nav-blue;
    color: $text-color;
    border-radius: $border-radius;
    display: flex;
    width: 300px;
    justify-content: center;
}

.navigation-button {
    padding: 1rem;
    font-size: large;
    width: 100%;
    color: $text-color;
}
.navigation-button:hover {
    background-color: white;
    color: $dark-blue;
    border-radius: 5px;
    font-weight: bold;
}

#title {
    height: 22px;
    border-radius: 3px;
}

#description {
    border-radius: 3px;
}

  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
  }

  .pagination li {
    margin: 0 5px;
    display: inline-block;
  }

  .pagination a, .pagination span {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #ddd;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  .pagination a:hover {
    background-color: #ddd;
  }

  .pagination .active a {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }

  .pagination .disabled {
    pointer-events: none;
    opacity: 0.6;
  }

  /* Style for Previous and Next links */
  .pagination .prev-next {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
  }

  .pagination .prev-next a, .pagination .prev-next span {
    padding: 8px;
  }
